/* colours */
:root{
  --accent: #00A7E1;
  --themelight: #ffa600;
  --themedark: #ED701E;
  --background: #F2EFE9;
  --dark: #1A535C;
}

/* layout styles */
nav{
  background: white;
  color: var(--themelight);
}
nav .sidenav-trigger{
  margin: 0;
}
body{
  background: var(--background);
}
.content{
  margin-top: 30px;
}
.card-panel{
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
}

/* title styles */
.card-panel.title{
  padding: 1px;
  background-color: var(--accent);
}

/* goal card styles */
.card-panel i{
  color: var(--themelight);
}
.goal-title{
  font-weight: bold;
  font-size: 1.3em;
  color: var(--themelight)
}
.goal-details{
  font-size: 0.8em;
  color: var(--themedark)
}

/* form-styles */
/*input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--accent);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}*/